/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
  background-color: #f0efef;
  color: #000;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.main,
.header {
  flex-direction: column;
}  

.header {
  padding-top: 40px;
  align-items: center;
  background-color: #033048;
  display: flex;
  justify-content: center;
}

.header__logo {
  color: #ffffff;
  max-width: 100%;
  font-size: 48px;
  max-width: 240px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.header__nav {
  max-width: 700px;
  text-align: center;
  width: 100%;
  background-color: #f9e42e;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

.header__nav a {
  color: #033048;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  /*margin: 0 10px;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0;
}

.main__primary {
  max-width: 700px;
  margin: 10px;
}

.main__primary__article {
  border-bottom: solid 1px #999;
}

.main__primary__article__title {
  color: #033048;
  font-size: 22px;
  line-height: 1.25;
}

.main__primary__article__image {
  width: 100%;
}

.main__primary__article__cta {
  font-weight: bold;
  color: blue;
  text-decoration: none;
  color: #033048;
  padding-bottom: 20px;
  display: inline-block;
}

.main__primary__article p {
  color: #606161;
  font-size: 18px;
  font-weight: 100;
}

.main__aside {
  max-width: 240px;
  margin: 10px;
}

.main__aside h2 {
  color: #043049;
  font-size: 32px;
  margin-bottom: 15px;
}

.main__aside ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__aside ul li a {
  color: #043049;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
}

.main__aside__ad {
  margin: 30px 0;
}

.footer-cta {
  background-color: #f9e42e;
  margin-top: 50px;
  padding: 30px 0; 
  text-align: center;
}

.footer-cta a {
  background: #033048;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  text-decoration: none;
  width: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.footer h1 {
  color: #f9e42e;
  margin-top: 0;
}

.footer nav a {
  padding: 15px;
}

.footer p {
  font-weight: bold;
  margin: 0;
  padding: 30px 0;
}

.adspace {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .adspace {
    height: 600px;
  }
  .main,
  .header {
    flex-direction: row;
  } 
  
  .main {
    padding: 5px 0;
  }
  .header_nav {
    text-align: right;
  }

  .header__nav a  {
    font-size: 24px;
    margin: 0 0 0 40px;
  }

  .main__primary__article__title {
    font-size: 40px;
  }

  .main__primary__article__footer {
    text-align: right;
  }
}

