/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #f0efef;
  color: #000;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.header {
  align-items: center;
  background-color: #033048;
  display: flex;
  justify-content: center;
}

.header__logo {
  color: #ffffff;
  font-size: 48px;
  max-width: 240px;
  width: 100%;
}

.header__nav {
  max-width: 700px;
  text-align: right;
  width: 100%;
}

.header__nav a {
  color: #f9e42e;
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.main__primary {
  max-width: 700px;
  margin: 10px;
}

.main__primary__article {
  border-bottom: solid 1px #999;
}

.main__primary__article__title {
  color: #033048;
  font-size: 40px;
}

.main__primary__article__image {
  width: 100%;
}

.main__primary__article p {
  color: #606161;
  font-size: 18px;
  font-weight: 100;
}

.main__aside {
  max-width: 240px;
  margin: 10px;
}

.main__aside h2 {
  color: #043049;
  font-size: 32px;
  margin-bottom: 15px;
}

.main__aside ul { 
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__aside ul li a {
  color: #043049;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
}

.main__aside__ad {
  margin: 30px 0;
}

.footer-cta {
  background-color: #f9e42e;
  margin-top: 50px;
  padding: 30px 0; 
  text-align: center;
}

.footer-cta a {
  background: #033048;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  text-decoration: none;
  width: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.footer h1 {
  color: #f9e42e;
  margin-top: 0;
}

.footer nav a {
  padding: 15px;
}

.footer p {
  font-weight: bold;
  margin: 0;
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .main,
  .header {
    flex-direction: column;
  }  
  .header__nav {
    text-align: center;
  }

  .header__logo {
    max-width: 100%;
    text-align: center;
  }

  .header__nav a {
    margin: 0 20px;
  }
}
