<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notes: 08-31-2015</title>
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,600,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
        <link rel="stylesheet" href="../style.css">
        <style>
            a {
                color: #000;
            }
        </style>
    </head>
    <body>
    <ul>
        <li><a href="two-column.html">Two-Column</a></li>
        <li><a href="three-column.html">Three-Column</a></li>
        <li><a href="simple-marketing.html">Simple Marketing</a></li>
        <li><a href="marketing-with-nav.html">Marketing with Nav</a></li>
        <li><a href="magazine.html">Magazine</a></li>
        <li><a href="layout.pdf" traget="_blank">Layouts PDF</a></li>
    </ul>
    </body>
</html>