<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Float Layout: Two Column</title>
        <link rel="stylesheet" href="normalize.css">
        <style>
            * {
                box-sizing: border-box;
            }
            .outer-container {
                margin: auto;
                max-width: 1060px;
            }
            .box {
                background-color: #d8d8d8;
                border: solid 1px #979797;
                padding: 15px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
        </style>
    </head>
    <body>
        <div class="outer-container">
            <h1>Float Layout: Two Column</h1>
            <header class="box header">
                HEADER
            </header>
            <section class="primary">
                <div class="box">LEFT</div>
            </section>
            <aside class="secondary">
                <div class="box">RIGHT</div>
            </aside>
            <footer class="box footer">
                FOOTER
            </footer>
        </div>
    </body>
</html>